* {
    
    background-color: rgb(165, 243, 244);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #4a7ee8;
    padding: 2rem 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

h1 {
    font-size: 2.5rem;
}

section {
    padding: 2rem 1rem;
}

h2 {
    font-size: 2rem;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #5244e9;
    fo
}
